# A. Assignment details

- What: Download, manipulate and merge two or more datasets from below
- How: Create functions in a python file to do this
- Show: Show how to use these python files in a notebook

More details here: reports/assignments/milestone_1/extracredit_explainer.md

## 1.1 Download data

In [16]:
import requests
import pandas as pd
import io
merchandise = pd.read_csv('US_TradeMerchTotal.csv', index_col=0)
service = pd.read_csv('service_data.csv', index_col=0)

## 1.2 Manipulate Data

In [ ]:
# merchandise['Economy Label'].unique()
# merchandise[:2024]
merchandise[merchandise['Flow Label']=='Imports']
# merchandise

,Economy,Economy Label,Flow,Flow Label,US$ at current prices in millions,US$ at current prices in millions Footnote,US$ at current prices in millions Missing value,Percentage of total world,Percentage of total world Footnote,Percentage of total world Missing value
Year,,,,,,,,,,
1948,0,World,1,Imports,6.236938e+04,NaN,NaN,100.000000,NaN,NaN
1948,5100,Africa,1,Imports,5.033525e+03,NaN,NaN,8.070506,NaN,NaN
1948,5110,Northern Africa,1,Imports,1.770674e+03,NaN,NaN,2.839012,NaN,NaN
1948,5120,Sub-Saharan Africa,1,Imports,3.262851e+03,NaN,NaN,5.231495,NaN,NaN
1948,5121,Eastern Africa,1,Imports,7.816910e+02,NaN,NaN,1.253325,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2024,2711,BRICS,1,Imports,4.933576e+06,NaN,NaN,19.936025,NaN,NaN
2024,3412,European Union (2020 …),1,Imports,6.869313e+06,NaN,NaN,27.758117,NaN,NaN
2024,3916,G20 (Group of Twenty),1,Imports,1.470859e+07,NaN,NaN,59.435749,NaN,NaN
2024,3919,G-77 (Group of 77),1,Imports,8.068242e+06,NaN,NaN,32.602854,NaN,NaN
2024,3905,OECD (Organisation for Economic Cooperation an...,1,Imports,1.480859e+07,NaN,NaN,59.839860,NaN,NaN

In [ ]:
merch_2010 = merchandise.iloc[merchandise.index>=2010]

In [38]:
merch_imports = merchandise[merchandise['Flow Label']=='Imports']
merch_exports = merchandise[merchandise['Flow Label']=='Exports']

In [39]:
services_only = service[service['Category Label']=='Services']

In [41]:
service_imports = services_only[services_only['Flow Label']=='Imports']
service_exports = services_only[services_only['Flow Label']=='Exports']

In [ ]:
merch_imports

,Economy,Economy Label,Flow,Flow Label,US$ at current prices in millions,US$ at current prices in millions Footnote,US$ at current prices in millions Missing value,Percentage of total world,Percentage of total world Footnote,Percentage of total world Missing value
Year,,,,,,,,,,
1948,0,World,1,Imports,6.236938e+04,NaN,NaN,100.000000,NaN,NaN
1948,5100,Africa,1,Imports,5.033525e+03,NaN,NaN,8.070506,NaN,NaN
1948,5110,Northern Africa,1,Imports,1.770674e+03,NaN,NaN,2.839012,NaN,NaN
1948,5120,Sub-Saharan Africa,1,Imports,3.262851e+03,NaN,NaN,5.231495,NaN,NaN
1948,5121,Eastern Africa,1,Imports,7.816910e+02,NaN,NaN,1.253325,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2024,2711,BRICS,1,Imports,4.933576e+06,NaN,NaN,19.936025,NaN,NaN
2024,3412,European Union (2020 …),1,Imports,6.869313e+06,NaN,NaN,27.758117,NaN,NaN
2024,3916,G20 (Group of Twenty),1,Imports,1.470859e+07,NaN,NaN,59.435749,NaN,NaN
2024,3919,G-77 (Group of 77),1,Imports,8.068242e+06,NaN,NaN,32.602854,NaN,NaN
2024,3905,OECD (Organisation for Economic Cooperation an...,1,Imports,1.480859e+07,NaN,NaN,59.839860,NaN,NaN

In [45]:
service_imports

,Economy,Economy Label,Flow,Flow Label,Category,Category Label,US$ at current prices in millions,US$ at current prices in millions Footnote,US$ at current prices in millions Missing value,"Growth rate, year-on-year","Growth rate, year-on-year Footnote","Growth rate, year-on-year Missing value",Percentage of total world,Percentage of total world Footnote,Percentage of total world Missing value,Percentage of total trade in services,Percentage of total trade in services Footnote,Percentage of total trade in services Missing value
Year,,,,,,,,,,,,,,,,,,
2010,0,World,1,Imports,S,Services,3914818.708,NaN,NaN,NaN,NaN,Not publishable,100.000000,NaN,NaN,100.0,NaN,NaN
2010,4,Afghanistan,1,Imports,S,Services,1083.165,NaN,NaN,NaN,NaN,Not publishable,0.027668,NaN,NaN,100.0,NaN,NaN
2010,8,Albania,1,Imports,S,Services,2004.806,NaN,NaN,NaN,NaN,Not publishable,0.051211,NaN,NaN,100.0,NaN,NaN
2010,12,Algeria,1,Imports,S,Services,12150.000,NaN,NaN,NaN,NaN,Not publishable,0.310359,NaN,NaN,100.0,NaN,NaN
2010,24,Angola,1,Imports,S,Services,NaN,NaN,Not publishable,NaN,NaN,Not publishable,NaN,NaN,Not publishable,NaN,NaN,Not publishable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024,3412,European Union (2020 …),1,Imports,S,Services,2899914.956,NaN,NaN,6.1490,NaN,NaN,36.120690,NaN,NaN,100.0,NaN,NaN
2024,5500,Oceania,1,Imports,S,Services,134579.683,NaN,NaN,6.3842,NaN,NaN,1.676294,NaN,NaN,100.0,NaN,NaN
2024,1400,Developing economies,1,Imports,S,Services,2727842.004,NaN,NaN,7.7978,NaN,NaN,33.977388,NaN,NaN,100.0,NaN,NaN
2024,1500,Developed economies,1,Imports,S,Services,5300562.031,NaN,NaN,7.3125,NaN,NaN,66.022612,NaN,NaN,100.0,NaN,NaN
2024,1610,LDCs (Least developed countries),1,Imports,S,Services,80950.267,NaN,NaN,9.0718,NaN,NaN,1.008298,NaN,NaN,100.0,NaN,NaN

In [47]:
service_imports.columns

Index(['Economy', 'Economy Label', 'Flow', 'Flow Label', 'Category',
       'Category Label', 'US$ at current prices in millions',
       'US$ at current prices in millions Footnote',
       'US$ at current prices in millions Missing value',
       'Growth rate, year-on-year', 'Growth rate, year-on-year Footnote',
       'Growth rate, year-on-year Missing value', 'Percentage of total world',
       'Percentage of total world Footnote',
       'Percentage of total world Missing value',
       'Percentage of total trade in services',
       'Percentage of total trade in services Footnote',
       'Percentage of total trade in services Missing value'],
      dtype='object')

## 1.3 Merge Data

In [107]:
overall_import = pd.merge(service_imports, merch_imports, 'left', on=['Economy','Economy Label', 'Year', 'Flow Label', 'Flow'])

In [109]:
# overall_import_nz = overall_import.query[['Year','Economy Label','Flow Label','Category Label','US$ at current prices in millions_x','US$ at current prices in millions_y']].drop()
columns_to_keep = ['Economy Label','Flow Label','Category Label','US$ at current prices in millions_x','US$ at current prices in millions_y']
overall_import = overall_import[columns_to_keep]
overall_import

,Economy Label,Flow Label,Category Label,US$ at current prices in millions_x,US$ at current prices in millions_y
Year,,,,,
2010,World,Imports,Services,3914818.708,1.543550e+07
2010,Afghanistan,Imports,Services,1083.165,5.154250e+03
2010,Albania,Imports,Services,2004.806,4.405940e+03
2010,Algeria,Imports,Services,12150.000,4.047300e+04
2010,Angola,Imports,Services,NaN,1.666687e+04
...,...,...,...,...,...
2024,European Union (2020 …),Imports,Services,2899914.956,6.869313e+06
2024,Oceania,Imports,Services,134579.683,3.605331e+05
2024,Developing economies,Imports,Services,2727842.004,1.033318e+07
2024,Developed economies,Imports,Services,5300562.031,1.441386e+07
2024,LDCs (Least developed countries),Imports,Services,80950.267,3.493491e+05

In [117]:
overall_import = overall_import.rename({"Economy Label":'Country', "US$ at current prices in millions_x":'US$ in millions_service', "US$ at current prices in millions_y":'US$ in millions_merchandise'}, axis=1)
overall_import.head(2)

,Country,Flow Label,Category Label,US$ in millions_service,US$ in millions_merchandise
Year,,,,,
2010,World,Imports,Services,3914818.708,1.543550e+07
2010,Afghanistan,Imports,Services,1083.165,5.154250e+03

In [127]:
overall_import['Total Import in US$'] = overall_import['US$ in millions_service'] + overall_import['US$ in millions_merchandise']
overall_import.head(2)

,Country,Flow Label,Category Label,US$ in millions_service,US$ in millions_merchandise,Total US$,Total US$ Import,Total Import in US$
Year,,,,,,,,
2010,World,Imports,Services,3914818.708,1.543550e+07,1.935032e+07,1.935032e+07,1.935032e+07
2010,Afghanistan,Imports,Services,1083.165,5.154250e+03,6.237415e+03,6.237415e+03,6.237415e+03

In [110]:
overall_export = pd.merge(service_exports, merch_exports, 'left', on=['Economy','Economy Label', 'Year', 'Flow Label', 'Flow'])
overall_export = overall_export[columns_to_keep]
overall_export

,Economy Label,Flow Label,Category Label,US$ at current prices in millions_x,US$ at current prices in millions_y
Year,,,,,
2010,World,Exports,Services,4003280.265,1.529927e+07
2010,Afghanistan,Exports,Services,2130.238,3.884840e+02
2010,Albania,Exports,Services,2584.937,1.544613e+03
2010,Algeria,Exports,Services,3680.000,5.705259e+04
2010,Angola,Exports,Services,NaN,5.059490e+04
...,...,...,...,...,...
2024,European Union (2020 …),Exports,Services,3259591.828,7.150441e+06
2024,Oceania,Exports,Services,108004.479,4.010163e+05
2024,Developing economies,Exports,Services,2613690.255,1.111720e+07
2024,Developed economies,Exports,Services,6164212.008,1.331366e+07
2024,LDCs (Least developed countries),Exports,Services,46247.822,2.745103e+05

In [111]:
overall_export = overall_export.rename({"Economy Label":'Country', "US$ at current prices in millions_x":'US$ in millions_service', "US$ at current prices in millions_y":'US$ in millions_merchandise'}, axis=1)
overall_export.head(2)

,Country,Flow Label,Category Label,US$ in millions_service,US$ in millions_merchandise
Year,,,,,
2010,World,Exports,Services,4003280.265,1.529927e+07
2010,Afghanistan,Exports,Services,2130.238,3.884840e+02

In [129]:
overall_export['Total Export in US$'] = overall_export['US$ in millions_service'] + overall_export['US$ in millions_merchandise']
overall_export.head(2)

,Country,Flow Label,Category Label,US$ in millions_service,US$ in millions_merchandise,Total US$,Total US$ Export,Total Export in US$
Year,,,,,,,,
2010,World,Exports,Services,4003280.265,1.529927e+07,1.930255e+07,1.930255e+07,1.930255e+07
2010,Afghanistan,Exports,Services,2130.238,3.884840e+02,2.518722e+03,2.518722e+03,2.518722e+03

In [ ]:
df_world_trade_volume = pd.merge(overall_export, overall_import,'left', on=['Country'])
df_world_trade_volume

,Country,Flow Label_x,Category Label_x,US$ in millions_service_x,US$ in millions_merchandise_x,Total US$_x,Total US$ Export,Total Export in US$,Flow Label_y,Category Label_y,US$ in millions_service_y,US$ in millions_merchandise_y,Total US$_y,Total US$ Import,Total Import in US$
0,World,Exports,Services,4003280.265,1.529927e+07,1.930255e+07,1.930255e+07,1.930255e+07,Imports,Services,3914818.708,1.543550e+07,1.935032e+07,1.935032e+07,1.935032e+07
1,World,Exports,Services,4003280.265,1.529927e+07,1.930255e+07,1.930255e+07,1.930255e+07,Imports,Services,4385267.554,1.844458e+07,2.282985e+07,2.282985e+07,2.282985e+07
2,World,Exports,Services,4003280.265,1.529927e+07,1.930255e+07,1.930255e+07,1.930255e+07,Imports,Services,4538816.026,1.866616e+07,2.320498e+07,2.320498e+07,2.320498e+07
3,World,Exports,Services,4003280.265,1.529927e+07,1.930255e+07,1.930255e+07,1.930255e+07,Imports,Services,4820246.348,1.897454e+07,2.379479e+07,2.379479e+07,2.379479e+07
4,World,Exports,Services,4003280.265,1.529927e+07,1.930255e+07,1.930255e+07,1.930255e+07,Imports,Services,5222773.694,1.907091e+07,2.429369e+07,2.429369e+07,2.429369e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38920,LDCs (Least developed countries),Exports,Services,46247.822,2.745103e+05,3.207581e+05,3.207581e+05,3.207581e+05,Imports,Services,57690.684,2.462927e+05,3.039833e+05,3.039833e+05,3.039833e+05
38921,LDCs (Least developed countries),Exports,Services,46247.822,2.745103e+05,3.207581e+05,3.207581e+05,3.207581e+05,Imports,Services,64192.196,3.096630e+05,3.738552e+05,3.738552e+05,3.738552e+05
38922,LDCs (Least developed countries),Exports,Services,46247.822,2.745103e+05,3.207581e+05,3.207581e+05,3.207581e+05,Imports,Services,75337.793,3.607083e+05,4.360460e+05,4.360460e+05,4.360460e+05
38923,LDCs (Least developed countries),Exports,Services,46247.822,2.745103e+05,3.207581e+05,3.207581e+05,3.207581e+05,Imports,Services,74217.395,3.381584e+05,4.123758e+05,4.123758e+05,4.123758e+05
38924,LDCs (Least developed countries),Exports,Services,46247.822,2.745103e+05,3.207581e+05,3.207581e+05,3.207581e+05,Imports,Services,80950.267,3.493491e+05,4.302994e+05,4.302994e+05,4.302994e+05

In [ ]:
#Here is the complete dataset of export and import trade volume by country
columns_to_keep = ['Country','Total Export in US$','Total Import in US$']
df_world_trade_volum = df_world_trade_volume[columns_to_keep]
df_world_trade_volum

,Country,Total Export in US$,Total Import in US$
0,World,1.930255e+07,1.935032e+07
1,World,1.930255e+07,2.282985e+07
2,World,1.930255e+07,2.320498e+07
3,World,1.930255e+07,2.379479e+07
4,World,1.930255e+07,2.429369e+07
...,...,...,...
38920,LDCs (Least developed countries),3.207581e+05,3.039833e+05
38921,LDCs (Least developed countries),3.207581e+05,3.738552e+05
38922,LDCs (Least developed countries),3.207581e+05,4.360460e+05
38923,LDCs (Least developed countries),3.207581e+05,4.123758e+05
38924,LDCs (Least developed countries),3.207581e+05,4.302994e+05

## Global datasets

- What: Download, manipulate and merge two or more datasets from below
- How: Create functions in a python file to do this
- Show: Show how to use these python files in a notebook

* **Penn World Table (PWT):** Provides purchasing power parity and national income accounts data.
    * **Link:** [http://www.ggdc.net/pwt](http://www.ggdc.net/pwt)

* **UNCTADstat (UNCTAD):** Offers data on trade, investment, and development.
    * **Link:** [https://unctadstat.unctad.org/](https://unctadstat.unctad.org/)

* **FAOSTAT (FAO):** Provides data on food, agriculture, forestry, and related areas.
    * **Link:** [http://www.fao.org/faostat/en/#data](http://www.fao.org/faostat/en/#data)

* **ILOSTAT (ILO):** Offers labor statistics, including employment and wages.
    * **Link:** [https://ilostat.ilo.org/](https://ilostat.ilo.org/)

* **Federal Reserve Economic Data (FRED):** Economic and financial data from the Federal Reserve.
    * **Link:** [https://fred.stlouisfed.org/](https://fred.stlouisfed.org/)

* **Bank for International Settlements (BIS):** Data and statistics on banking, financial markets, and the global economy.
    * **Link:** [https://www.bis.org/statistics/index.htm](https://www.bis.org/statistics/index.htm)

* **International Monetary Fund (IMF) Data:** A variety of macroeconomic and financial data.
    * **Link:** [https://www.imf.org/en/data](https://www.imf.org/en/data)

* **Eurostat:** Provides a wide range of statistics on the European Union, including economic, social, and demographic data.
    * **Link:** [https://ec.europa.eu/eurostat/](https://ec.europa.eu/eurostat/)

* **World Bank Data:** Comprehensive data on development indicators across countries.
    * **Link:** [https://data.worldbank.org/](https://data.worldbank.org/)

* **Varieties of Democracy (V-Dem):** Datasets measuring various aspects of democracy across countries.
    * **Link:** [https://v-dem.net/](https://v-dem.net/)

* **OECD Data:** Statistics and indicators from the Organisation for Economic Co-operation and Development, covering a broad range of topics.
    * **Link:** [https://data.oecd.org/](https://data.oecd.org/)

* **Quality of Government (QoG):** Datasets on governance, institutions, and quality of government.
    * **Link:** [https://qog.gu.se/](https://qog.gu.se/)

* **IPCC Data:** Climate change data and scenarios from the Intergovernmental Panel on Climate Change.
    * (Note: Access to data varies, often through specific reports or data portals linked within the IPCC website)
    * **Link:** [https://www.ipcc.ch/](https://www.ipcc.ch/)

* **Our World in Data:** Research and data on global development, poverty, health, and other topics.
    * **Link:** [https://ourworldindata.org/](https://ourworldindata.org/)

* **UN Comtrade:** United Nations Commodity Trade Statistics Database.
    * **Link:** [https://comtrade.un.org/](https://comtrade.un.org/)


## Academic datasets

* **Dallas Fed Global Economic Indicators (DGEI):** [DGEI](https://www.dallasfed.org/research/international/dgei)
* **Dallas Fed International House Price Database:** [House Price](https://www.dallasfed.org/research/international/houseprice#data)
* **New York Fed r* (Natural Rate of Interest):** [r*](https://www.newyorkfed.org/research/policy/rstar)
* **Chinn-Ito Index (KAOPEN):** [KAOPEN](https://web.pdx.edu/~ito/Chinn-Ito_website.htm)
* **Metrick-Schmelzing Paper and Database (Long-Term Real Rates):** [Real Rates](https://som.yale.edu/centers/program-on-financial-stability/metrick-schmelzing-paper-and-database)
* **Yale Program on Financial Stability COVID-19 Tracker:** [COVID-19 Tracker](https://som.yale.edu/centers/program-on-financial-stability/covid-19-tracker)
* **IMF Financial Integration:** [Financial Integration](https://www.imf.org/en/Publications/WP/Issues/2017/05/10/International-Financial-Integration-in-the-Aftermath-of-the-Global-Financial-Crisis-44906)
* **IMF Macroprudential Policy Survey:** [Macroprudential](https://www.elibrary-areaer.imf.org/Macroprudential/Pages/Home.aspx)
* **Nancy Xu's Risk Aversion Index:** [Risk Aversion](https://www.nancyxu.net/risk-aversion-index)
* **Jorda-Schularick-Taylor Macrohistory Database:** [Macrohistory](https://www.nber.org/research/data/jorda-schularick-taylor-macrohistory)
* **Central Bank Independence (CBI) Data:** [CBI Data](https://sites.google.com/site/carogarriga/cbi-data-1)
* **Global Inflation Data:** [Inflation Data](https://www.worldbank.org/en/research/brief/inflation-database)

## U.S Datasets
- https://www.sca.isr.umich.edu/tables.html
- https://www.bea.gov/data
- https://www.bls.gov/jlt/
- https://adpemploymentreport.com/

## Japan datasets

* **Economy Watchers Survey (Cabinet Office):** [Watchers Survey](https://www5.cao.go.jp/keizai3/watcher.html)
* **Consumption Trend Index (ESRI, Cabinet Office):** [Consumption Index](https://www.esri.cao.go.jp/en/stat/shouhi/shouhi-e.html)
* **Prefectural Accounts (ESRI, Cabinet Office):** [Prefectural Accounts](https://www.esri.cao.go.jp/jp/sna/sonota/kenmin/kenmin_top.html)
* **Insurance Statistics (General Insurance Association of Japan):** [Insurance Stats](https://www.sonpo.or.jp/en/statistics/index.html)
* **FSA Policy Response (Financial Services Agency):** [FSA Response](https://www.fsa.go.jp/news/r1/20200313-2.html)
* **Franchise Industry Data (Japan Franchise Association):** [Franchise Data](https://www.jfnet.or.jp/data/data_c.html)
* **Trends Foreign Visitors (MLIT, Japan Tourism Agency):** [Visitor Spending](https://www.mlit.go.jp/kankocho/tokei_hakusyo/gaikokujinshohidoko.html)
* **Tax and Stamp Revenues (Ministry of Finance):** [Tax Revenues](https://www.mof.go.jp/tax_policy/reference/taxes_and_stamp_revenues/data.htm)
* **Life Insurance Statistics (Life Insurance Association of Japan):** [Life Insurance](https://www.seiho.or.jp/english/statistics/)
* **Economic Growth (Tokyo Foundation for Policy Research):** [GDP](https://www.tkfd.or.jp/research/detail.php?id=2983)
* **Consumer Price Index (Statistics Bureau of Japan):** [CPI](https://www.stat.go.jp/english/data/cpi/1588.html#his)
* **Bank Financial Statements (Financial Services Agency):** [Bank Statements](https://www.fsa.go.jp/status/ginkou_kessan/index.html)
* **Budget Revenue and Expenditure (Ministry of Finance):** [Budget Data](https://www.mof.go.jp/policy/budget/report/revenue_and_expenditure/index.htm)
* **Trade Statistics (Japan Customs):** [Trade Stats](https://www.customs.go.jp/toukei/info/index_e.htm)
* **Banking Statistics (Japanese Bankers Association):** [Banking Stats](https://www.zenginkyo.or.jp/stats/year2-02/)
* **Household Expenditure Survey (Statistics Bureau):** [Household Spending](https://www.stat.go.jp/data/kakei/longtime/index.html#time)
* **Economic Statistics (Federation of Economic Organizations):** [Econ Stats](https://www.zenkeijikyo.or.jp/statistics)
* **Regional Banks:** [Regional Banks data](https://www.chiginkyo.or.jp/news_topics/)
* **Japan Economic Policy Uncertainty Index:** [Policy Uncertainty](https://www.policyuncertainty.com/japan_monthly.html)